
 h2{
    text-align: center;
 }

.items{
    background-color: whitesmoke;
    min-height: 30em;
    min-width: auto;

}
.price{
    min-height: 30em;
    min-width: 315px;
    background-color:#ddd;

}
input#quantity{
    float: right;
}

img{
    min-width: 5em;
    max-width: 5em;
    min-height: 5em;
    max-height: 5em;
}
.style3{
	background-color: rgb(149, 148, 148);
	border-top: 0.5px dotted #8c8b8b;

}
.cardPos{
position: relative;
left: 3em;
}

div a {
    color: black;
}
.card{
    justify-content: center;
    width: 65%;
    height: 75%;
    margin-left: 17%;
    margin-right:15%;
    margin: top 10em;
    border:none;
}
.backbtn{
position: relative;
left:2em;
}

.drpposition{
    position:fixed;
    bottom:2em;
    
}
.card{
    justify-content: center;
}

div .checkout-btn-div .btn{
    background-color: black;
    color:whitesmoke;
    width:100%;
    margin-top: 4vh;
}
.selectDiv {
    float:right;
    
}
