body{
    background-color: whitesmoke;
    height: 500px;
   

}


h1 {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
}
.navbar{
    font-size: large;

}
.plate-img{
  min-height: 300px;
  max-height: 450px;
}
.restaurant-slogan {
    min-height: 300px;
    min-width: 100%;
    opacity: 90%;
    background-color:#E7B10A;
    font-size: 38px;
    font-weight:bolder;
}
.indulge-div{
  min-height: 300px;
  max-height: 450px;
  background-color:#E7B10A;
  opacity: 90%;


}

.indulge-box {

  min-height: 350px;
}
#top-bar{
    height:110px;
    background-color: #f1efec;
}
.container{
     height: 1000px;
    
}
.divider{
    margin-top: 10%;
    
}

.header-btns{
    margin-top: 20px;
    margin-bottom: 100px;
}

.c-item{
   height: 550px;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.buttons {
    width:270px;
}

.c-img{
    height:100%;
    object-fit: contain;
    filter: brightness(0.85);
}
.nav-link:hover {
    text-decoration: underline;
  }
 
  .carousel-container{
    max-width: 700px;
    max-height: auto;
    
  }
  .business-hours-container{
    
    position: relative;
    margin-bottom: 25%;
    min-width: 300px;
    font-size: 20px;
    letter-spacing: 1px;
    
  }
ul{
    list-style-type: none;

}
  
  iframe{
    position: absolute;
  }
   @media screen and (max-width:700px) {
      .carousel-container img {
        max-height: 400px;
        margin-top: 40%;
      }
   }