

#top-bar{
    height:110px;
    background-color: #f1efec;
    margin-bottom: 110px;
}

.card img {
    height: 35%;
}
.card{
    width: 19em;
    height: 24em;
    min-height: 27em;
    max-height: 27em;
}
body{
    background-color: #f1efec;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
     height: 2500px;
     display: flex;
     flex-direction: column; 
     margin: 0;
    
    
    
}
#container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
.add-to-cart{
    background-color: black;
    
}
.cart-item{
    position: relative;
}
a:hover.add-to-cart{
    background-color: #e6dbc9;
    color: black;
}
.header-text{
    margin-top: 2em !important;
}
.textFont{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
div img {
    width: 100%; 
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}


.text-right{

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    }
    
 
    
.black-color{
    color:black;
}
.buttonalign{
     position: fixed;
     right: 10%;
     top: 5%;
    }


div.cartBtn a{
    color:white;
}
.btn-primary{
    border:none;
}
.cartBtn{
    margin-top:0.1em
}
.cartBtn{
    position: absolute;
    left:1370px;
}
 a:hover.cartBtn{
    background-color: #e6dbc9;
}
.loza-main-header{
    margin-bottom: 5em;
}

.bottom-cart{
    position: relative;
    left: 16em;
    background-color: white;

    overflow: auto;
  
    min-height: 15em;
    max-height: 20em;
    position:relative;
    left:0%;

}
.img{
    max-width: 5em;
    max-height:1em;
    object-fit: cover;


}

/* cart */
.container{
    position: relative;
    
}

h2{
    text-align: center;
 }

.items{
    background-color: whitesmoke;
    min-height: 30em;
    min-width: auto;

}
.price{
    min-height: 30em;
    min-width: 315px;
    background-color:#ddd;

}



.cart-img{
    min-width: 3em;
    max-width: 3em;
    min-height: 3.4em;
    max-height: 3.4em;
}

    

     

.cart-input{
    width: 40px;
    margin-left: -0.5em;
    margin-right: -0.5em;
    size: 1px;
}



.bottom-cart{
    overflow: auto;
    width: 38em;
    height: 27em;
    min-height: 20em;
    max-height: 25em;
    position:relative;
    left:0%;
    
}


.plus-btn{
    border: none;
    size: 5px;
    background-color:black ;
    color:white;
    position: relative;
    justify-content: center;
    margin-left: 0.30em;

        
}
.minus-btn{
    border: none;
    size: 5px;
    width:1.45em;
    background-color:black ;
    color:white;
    position: relative;
    justify-content: center; 
    margin-right: 0.40em;
}




#row-total {
    display: none;
    position: absolute;
   left: 50em;
   bottom: 3em;
}
#cart-item-title{
    position: absolute;
    left:12%;
    top: 7px;
    
}

#food-item-price{
    position: absolute;
    right: 2em;
    top: 7px;
    
}
.cls-bttn{
    position: absolute;
    right: 0em;
    bottom:2em;
    padding-bottom:.5em;
   
    border:none;
    background-color: white;
    color:red;
}

#quantity-btns{
    position: absolute;
    top: 7px;
    left:43%;
}

.total-display {
    display: flex;
    flex-direction: column;
    justify-self:flex-end;
    height: 21em;
  }
  